Criar nova senha

Foi solicitada a criação de uma nova senha para o usuário <%= @user%> no cliente <%= @client%>.

Código de ativação: <%= @token%>

Siga o procedimento:
  
  - Acesse o sistema
  - Escolha a opção *Criar uma senha*
  - Informe seu código (<%= @user%>) e escolha *Criar senha*
  - Informe seu código de ativação (<%= @token%>), sua nova senha e confirme
  - Conecte-se com seu código e a nova senha
